/*
Media Query to align content center on mobile screens
*/
@media (max-width: 750px){
  .card-container{
    text-align: center;
  }
}


/* Elements */
body {
  background-image: url("../images/MathChalkboard.jpg");
  background-color: #C4F9FF;
  background-size: cover;
}

/* Classes */
.main-pic{
  border: 0.5em;
  border-radius: 5%;
  border-style: ridge;
  border-color: rgba(28, 156, 113, 1);
}
/* White Card Styling */
.card-container{
  background-color: #D8FAEB;
  border-radius: 5%;
  margin-left: 5vw;
  margin-right: 5vw;
  min-width: 85vw;
  max-width: 700px;
  font-family: "Courier New", monospace;

}
.card-container>h2{
  color: black;
  font-size: 2em;
  margin: 1em 1em 0.5em 1em;
  border-bottom: 1px solid green;
  display: block;
  padding-top: 0.4em;
}
.card-content{
  display: inline-block;
  padding: 0em 1em 1em 1em;
}
.card-content>div{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  vertical-align: top;
}



/*Footer Styling */
.custom-footer{
  border-top: 2px solid #487C7F;
  justify-content: center;
  margin-top: 3em;
}
.my-credit{
  padding: 0.5em;
}
.heart-icon{
  padding: 0em 0.2em 0em 0.2em;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}
