/*
Media Query to align content center on mobile screens
*/
/* @media (max-width: 800px){ }*/

.card-container{
  text-align: center;
}
.card-container>div{
  font-size: 1.2em;
}



/* Elements */
body {
  background-image: url("../images/MathChalkboard.jpg");
  background-color: #C4F9FF;
  background-size: cover;
  background-attachment: fixed;
}

/* Classes */
.main-pic{
  border: 0.5em;
  border-radius: 5%;
  border-style: ridge;
  border-color: rgba(28, 156, 113, 1);
  max-width: 85%;
  background-color: rgba(28, 156, 113, 1)
}
.resize-img{
  min-width: 100px;
  width: 100%;
  height: auto;
  /* max-width: 50vw; */
}
/* White Card Styling */
.card-container{
  background-color: #FAFAFA;
  border-radius: 1em;
  margin-left: 5vw;
  margin-right: 5vw;
  /* width: 90vw; */
  font-family: "Verdana", sans-serif;
  padding-bottom: 1em;

}
.card-container>h2{
  color: black;
  font-size: 2em;
  margin: 1em 1em 0.5em 1em;
  border-bottom: 1px solid grey;
  display: block;
  padding-top: 0.4em;
}
.card-content{
  display: inline-block;
  padding: 0em 1em 1em 1em;
}
.card-content>div{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-flex;
  vertical-align: middle;
}
.card-content>div>p{
  text-align: left !important;
  width: 100%;
}
.contact-info{
  text-align: left;
  font-family: "Courier New", monospace;
  /* width: 100%; */
  /* width:max-content; */
}
.card-image{
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 100px;
}

.right-wrapped-label{
  font-style:italic;
  text-align:left;
  float:right;
  margin: 0.5em 0em 1em 2em;
  max-width: 400px;
}
.left-wrapped-label{
  font-style:italic;
  text-align:left;
  float:left;
  margin: 1em 2em 1em 0em;
  max-width: 400px;
}
.spaced{
  margin: 1em 1em 1em 1em;
}

/*Styling for Quick Links*/
.quick-link-container{
  text-align: left !important;
  padding: 0em 0em 1em 1em;
  margin-right: 1em;
}
.quick_link{
  /* width: 90%; */
  /* background-color: grey; */
  padding: 1em 1em 1em 1em;
  display:block;
  text-decoration: none;
  color: black;
}
.quick_link:hover{
  background-color: lightgrey;
}
.quick_link:active{
  color:blue;
}

/*Zebra Styling */
.zebra_lightgrey{
  display:block !important;
  text-align: left;
  padding: 1em 0em 1em 0em;
  background-color: lightgrey;
}
.zebra_white{
  display:block !important;
  text-align: left;
  margin: 1em 0em 1em 0em;
}


/*Footer Styling */
.custom-footer{
  border-top: 2px solid #487C7F;
  justify-content: center;
  margin-top: 3em;
}
.my-credit{
  padding: 0.5em;
}
.heart-icon{
  padding: 0em 0.2em 0em 0.2em;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}
